<div class="block-reveal-button {{_blockReveal._buttonLocation}} {{_blockReveal._classes}}">
    {{#if _blockReveal._buttonGraphic._isEnabled}}
        <button class="block-reveal-graphic-button block-reveal-button-states-image" aria-label="{{_blockReveal._ariaLabels.openPopup}}">
            <img src="{{_blockReveal._buttonGraphic.src}}"/>
            <img src="{{_blockReveal._buttonGraphic.srcHover}}" class="block-reveal-button-image-hover"/>
            <img src="{{_blockReveal._buttonGraphic.srcVisited}}" class="block-reveal-button-image-visited"/>
        </button>
        {{else}}
            <button class="button block-reveal-open-button {{#if _blockReveal._buttonIcon._isEnabled}}icon {{_blockReveal._buttonIcon._icon}}{{/if}}" aria-label="{{_blockReveal._ariaLabels.openPopup}}">
              {{#if _blockReveal._buttonTitle}}
              {{_blockReveal._buttonTitle}}
              {{/if}}
            </button>
    {{/if}}
</div>
