<div class="block-reveal-done {{_blockReveal._buttonLocation}} {{_blockReveal._classes}}">
  <button class="button block-reveal-icon-close {{#if _blockReveal._buttonIcon._isEnabled}}icon {{_blockReveal._buttonIcon._iconBack}}{{/if}}" role="button" aria-label="{{_blockReveal._ariaLabels.closePopup}}">
    {{#if _blockReveal._buttonBackTitle}}
    {{_blockReveal._buttonBackTitle}}
    {{/if}}
  </button>
</div>
