{{#if _blockReveal._buttonBackTitle}}
<div class="block-reveal-done {{_blockReveal._buttonLocation}} {{_blockReveal._classes}}">
  <button class="button block-reveal-icon-close" aria-label="{{_blockReveal._ariaLabels.closePopup}}">
    {{_blockReveal._buttonBackTitle}}
  </button>
</div>
{{/if}}
{{#if _blockReveal._buttonIcon._isEnabled}}
<div class="block-reveal-done {{_blockReveal._buttonLocation}} {{_blockReveal._classes}}">
  <button class="button block-reveal-icon-close icon {{_blockReveal._buttonIcon._iconBack}}" aria-label="{{_blockReveal._ariaLabels.closePopup}}"></button>
</div>
{{/if}}
