{{#any _blockReveal._blockToReveal._graphic.src _blockReveal._blockToReveal._icon _blockReveal._blockToReveal.title}}

{{#if _blockReveal._blockToReveal._graphic.src}}
<button class="blockreveal__graphic-btn blockreveal-btn-states-image js-blockreveal-close-btn" aria-label="{{_blockReveal._blockToReveal.ariaLabel}}">
  <img src="{{_blockReveal._blockToReveal._graphic.src}}"/>
  <img src="{{_blockReveal._blockToReveal._graphic.srcHover}}" class="blockreveal-btn-image-hover"/>
  <img src="{{_blockReveal._blockToReveal._graphic.srcVisited}}" class="blockreveal-btn-image-visited"/>
</button>
{{else}}
<button class="{{#if _blockReveal._blockToReveal._icon}}btn-icon {{/if}}{{#if _blockReveal._blockToReveal.title}}btn-text {{/if}} blockreveal__btn js-blockreveal-close-btn" aria-label="{{_blockReveal._blockToReveal.ariaLabel}}">
  <div class="icon {{_blockReveal._blockToReveal._icon}}"></div>
  {{#if _blockReveal._blockToReveal.title}}
    <div class="blockreveal__btn-title{{#if _blockReveal._blockToReveal._icon}} is-icon{{/if}}">{{_blockReveal._blockToReveal.title}}</div>
  {{/if}}
</button>
{{/if}}
</div>

{{/any}}
