{{#any _blockReveal._blockToHide._graphic.src _blockReveal._blockToHide._icon _blockReveal._blockToHide.title}}

{{#if _blockReveal._blockToHide._graphic.src}}
<button class="btn-icon blockreveal__graphic-btn blockreveal-btn-states-image js-blockreveal-reveal-btn" aria-label="{{_blockReveal._blockToHide.ariaLabel}}">
  <img src="{{_blockReveal._blockToHide._graphic.src}}"/>
  <img src="{{_blockReveal._blockToHide._graphic.srcHover}}" class="blockreveal-btn-image-hover"/>
  <img src="{{_blockReveal._blockToHide._graphic.srcVisited}}" class="blockreveal-btn-image-visited"/>
</button>
{{else}}
<button class="{{#if _blockReveal._blockToHide._icon}}btn-icon {{/if}}{{#if _blockReveal._blockToHide.title}}btn-text {{/if}}blockreveal__btn js-blockreveal-reveal-btn" aria-label="{{_blockReveal._blockToHide.ariaLabel}}">
  <div class="icon {{_blockReveal._blockToHide._icon}}"></div>
  {{#if _blockReveal._blockToHide.title}}
    <div class="blockreveal__btn-title{{#if _blockReveal._blockToHide._icon}} is-icon{{/if}}">{{_blockReveal._blockToHide.title}}</div>
  {{/if}}
</button>
{{/if}}
</div>

{{/any}}
